[submodule "bb-gui"]
	path = bb-gui
	url = https://github.com/ProgrammableMatterProject/bb-gui.git
[submodule "bb-apploader"]
	path = bb-apploader
	url = https://github.com/ProgrammableMatterProject/bb-apploader.git
[submodule "bb-bootloader"]
	path = bb-bootloader
	url = https://github.com/ProgrammableMatterProject/bb-bootloader.git
[submodule "bb-cli"]
	path = bb-cli
	url = https://github.com/ProgrammableMatterProject/bb-cli.git
[submodule "blinky-network-to-arduino"]
	path = blinky-network-to-arduino
	url = https://github.com/ProgrammableMatterProject/blinky-network-to-arduino
[submodule "bb-applications"]
	path = bb-applications
	url = https://github.com/ProgrammableMatterProject/bb-applications
