[submodule "bb-gui"]
	path = bb-gui
	url = https://github.com/ProgrammableMatterProject/bb-gui.git
[submodule "bb-apploader"]
	path = bb-apploader
	url = https://github.com/ProgrammableMatterProject/bb-apploader.git
[submodule "bb-bootloader"]
	path = bb-bootloader
	url = https://github.com/ProgrammableMatterProject/bb-bootloader.git
[submodule "bb-cli"]
	path = bb-cli
	url = https://github.com/ProgrammableMatterProject/bb-cli.git
[submodule "bb-applications"]
	path = bb-applications
	url = https://github.com/ProgrammableMatterProject/bb-applications
[submodule "bb-bridge"]
	path = bb-bridge
	url = https://github.com/ProgrammableMatterProject/bb-bridge.git
[submodule "bb-arduino"]
	path = bb-arduino
	url = https://github.com/ProgrammableMatterProject/bb-arduino.git
[submodule "bb-library"]
	path = bb-library
	url = https://github.com/ProgrammableMatterProject/bb-library
