
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/.qmake.stash
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/bbhmi_resource.rc
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/bbhmi.exe
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/bbhmi_resource_res.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/controller.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/main.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_controller.cpp
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_controller.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/qrc_qml.cpp
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/qrc_qml.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/Makefile
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/Makefile.Debug
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/Makefile.Release
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/.qmake.stash
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/bbhmi_resource.rc
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/Makefile
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/Makefile.Debug
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/Makefile.Release
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/object_script.bbhmi.Debug
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/object_script.bbhmi.Release
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/qml_qmlcache.qrc
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/AboutForm_qml.cpp
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/AboutForm_qml.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/bbhmi.exe
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/bbhmi_resource_res.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/ChangeColorsForm_qml.cpp
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/ChangeColorsForm_qml.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/controller.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/EditConfigForm_qml.cpp
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/EditConfigForm_qml.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/HelpForm_qml.cpp
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/HelpForm_qml.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/HomeForm_qml.cpp
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/HomeForm_qml.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/LoadAppForm_qml.cpp
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/LoadAppForm_qml.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/main.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/main_qml.cpp
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/main_qml.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/moc_controller.cpp
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/moc_controller.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/moc_predefs.h
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/qmlcache_loader.cpp
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/qmlcache_loader.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/qrc_qml_qmlcache.cpp
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/qrc_qml_qmlcache.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/SettingsForm_qml.cpp
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/SettingsForm_qml.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/.qmake.stash
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/bf21codec.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/blinkyApploader.dll
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/blinkyapploader.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/ihexparser.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/layer2.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/layer3.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/libblinkyApploader.a
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_layer2.cpp
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_layer2.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_networklayer.cpp
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_networklayer.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_seriallayer.cpp
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/moc_seriallayer.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/networklayer.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/nikonetworkpacket.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/debug/seriallayer.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/Makefile
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/Makefile.Debug
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/Makefile.Release
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/object_script.blinkyApploader.Debug
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/object_script.blinkyApploader.Release
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/.qmake.stash
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/Makefile
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/Makefile.Debug
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/Makefile.Release
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/object_script.blinkyApploader.Debug
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/object_script.blinkyApploader.Release
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/bf21codec.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/blinkyApploader.dll
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/blinkyapploader.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/ihexparser.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/layer2.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/layer3.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/libblinkyApploader.a
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/moc_layer2.cpp
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/moc_layer2.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/moc_networklayer.cpp
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/moc_networklayer.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/moc_predefs.h
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/moc_seriallayer.cpp
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/moc_seriallayer.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/networklayer.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/nikonetworkpacket.o
build-blinkyApploader-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/seriallayer.o
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/application-blank.hex
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/birthday-cake.hex
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/bootloader-upgrader.hex
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/distance-gradient.hex
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/application-blank.hex
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/birthday-cake.hex
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/bootloader-upgrader.hex
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/distance-gradient.hex
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/hex/application-blank.hex
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/hex/birthday-cake.hex
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/hex/bootloader-upgrader.hex
build-bbhmi-Desktop_Qt_5_15_0_MinGW_64_bit-Release/release/hex/distance-gradient.hex
